extends layout

block content
  h1= title

  div(ng-controller='somehugenumberAppPosts')
    p List the posts
    div(ng-repeat='(key, post) in posts')
      a(href='/blog/#/{{post.id}}/{{post.date}}/{{post.slug}}/') {{post.title}}
