extends layout

block headtags
  base(href='/blog/')

block content
  script(type='text/ng-template' id='list.html')
    span(ng-if='list.error') There was an error. Status code: {{list.status}}. {{list.error}}

    p Recent posts

    ul
      li(ng-repeat='(key, post) in list.list')
        a(href='/blog/{{post.id}}/{{post.slug}}/{{post.shortdate}}') {{post.title}}

    p(class='backlink')
      a(href='/') Home

  script(type='text/ng-template' id='post.html')
    span(ng-if='post.error') There was an error. Status code: {{post.status}}. {{post.error}}

    h2 {{post.title}}

    div(ng-bind-html='post.content')

    p(class='dateline')
      i Posted: {{post.longdate}}

    ul(class='backlinks')
      li
        a(href='/blog/') Back
      li
        a(href='/') Home

  div(class='titlecontainer')
    h1= title

  div(ng-controller='MainBlogController' class='main')
    div(ng-view)
