extends layout

block content
  script(type='text/ng-template' id='list.html')
    span(ng-if='error') There was an error. Status code: {{status}}. {{error}}

    ul
      li(ng-repeat='(key, post) in list')
        a(href='#/{{post.id}}/{{post.slug}}/{{post.shortdate}}') {{post.title}}

    p
      a(href='/') Home

  script(type='text/ng-template' id='post.html')
    span(ng-if='error') There was an error. Status code: {{status}}. {{error}}

    h2 {{post.title}}

    div(ng-bind-html='post.content')

    p {{post.longdate}}

    p
      a(href='/blog/') Back

  h1= title

  div(ng-controller='MainBlogController')
    div(ng-view)
