extends layout

block headtags
  base(href='/blog/')

block content
  script(type='text/ng-template' id='list.html')
    span(ng-if='error') There was an error. Status code: {{status}}. {{error}}

    p Recent posts

    ul
      li(ng-repeat='(key, post) in list')
        a(href='/blog/{{post.id}}/{{post.slug}}/{{post.shortdate}}') {{post.title}}

    p(class='homebar')
      a(href='/') Home

  script(type='text/ng-template' id='post.html')
    span(ng-if='error') There was an error. Status code: {{status}}. {{error}}

    p(class='homefloater')
      a(href='/') Home

    h2 {{post.title}}

    div(ng-bind-html='post.content')

    p(class='dateline')
      i Posted: {{post.longdate}}

    p(class='homebar')
      a(href='/blog/') Back

  div(class='titlecontainer')
    h1= title

  div(ng-controller='MainBlogController' class='main')
    div(ng-view)
