doctype html
html

  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/app/bower_components/angular/angular-csp.css')
    link(rel='stylesheet', href='/app/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src='/javascripts/vendor.js')
    script(src='/javascripts/bundle.js')

  body(ng-app='somehugenumberApp')

    block content

