$accentColor: rgb(215, 217, 216)

.titlecontainer
  width: 770px
  padding: 1px 0 1px 15px
  background-color: $accentColor

.main
  width: 770px
  min-height: 100%
  padding: 15px
  background-color: rgb(230, 232, 233)

ul.backlinks
  padding: 0
  margin: 0
  list-style: none
  li
    padding: 0
    margin: 0

.backlink,
ul.backlinks li
    margin: 6px -15px
    padding: 5px 15px
    border-bottom: 1px solid $accentColor
    &:nth-of-type(1)
      margin-top: 50px

.dateline
  margin: 20px 0 -15px 0

// post-specific styles
.storm-image
  display: inline-block
  padding: 10px 6px
  background-color: white
